body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3cpath d='M1648.292695609853 179.69513266336514L1687.0481939484919 399.4884858015116 1906.8415470866385 360.73298746287264 1868.0860487479995 140.93963432472614z' fill='rgba(33%2c 156%2c 232%2c 0.3)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1388.689%2c937.526C1412.465%2c935.845%2c1434.326%2c924.724%2c1446.506%2c904.236C1458.97%2c883.27%2c1459.411%2c858.088%2c1449.042%2c836.011C1436.653%2c809.631%2c1417.786%2c782.79%2c1388.689%2c781.13C1357.499%2c779.35%2c1330.333%2c801.093%2c1315.101%2c828.369C1300.263%2c854.939%2c1297.729%2c888.317%2c1314.74%2c913.55C1330.265%2c936.579%2c1360.985%2c939.484%2c1388.689%2c937.526' fill='rgba(33%2c 156%2c 232%2c 0.3)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1339.605%2c927.006C1425.033%2c932.104%2c1525.651%2c927.715%2c1567.437%2c853.03C1608.747%2c779.197%2c1552.054%2c696.524%2c1509.457%2c623.426C1467.315%2c551.108%2c1423.266%2c464.638%2c1339.605%2c462.063C1253.375%2c459.409%2c1189.537%2c535.385%2c1150.622%2c612.381C1115.807%2c681.266%2c1114.717%2c762.219%2c1154.46%2c828.384C1193.05%2c892.63%2c1264.793%2c922.541%2c1339.605%2c927.006' fill='rgba(33%2c 156%2c 232%2c 0.3)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M667.5486470203629 884.1245974615669L474.3181870784212 867.2191227687467 650.6431723275427 1077.3550574035085z' fill='rgba(33%2c 156%2c 232%2c 0.3)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M139.781%2c864.527C223.379%2c859.777%2c303.463%2c829.553%2c349.293%2c759.476C400.051%2c681.862%2c422.13%2c582.568%2c377.255%2c501.41C331.192%2c418.103%2c234.968%2c381.735%2c139.781%2c380.57C42.217%2c379.376%2c-55.983%2c412.908%2c-107.978%2c495.471C-163.287%2c583.295%2c-173.321%2c699.713%2c-115.471%2c785.885C-62.284%2c865.111%2c44.512%2c869.94%2c139.781%2c864.527' fill='rgba(33%2c 156%2c 232%2c 0.3)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1669.305867816344 456.59743540624277L1370.442258350178 553.3893129967909 1571.2819235465163 740.6753306872135z' fill='rgba(33%2c 156%2c 232%2c 0.3)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M873.6790074477558 109.84887056702519L857.480501287856 418.9347807410813 1166.5664114619121 435.1332869009811 1182.764917621812 126.04737672692502z' fill='rgba(33%2c 156%2c 232%2c 0.3)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1154.813%2c67.054C1184.613%2c66.868%2c1207.544%2c44.157%2c1222.591%2c18.434C1237.823%2c-7.606%2c1247.529%2c-39.393%2c1232.318%2c-65.445C1217.199%2c-91.339%2c1184.744%2c-99.44%2c1154.813%2c-97.648C1128.1%2c-96.049%2c1105.508%2c-80.063%2c1091.871%2c-57.037C1077.928%2c-33.495%2c1073.18%2c-5.115%2c1085.557%2c19.287C1099.154%2c46.093%2c1124.757%2c67.241%2c1154.813%2c67.054' fill='rgba(33%2c 156%2c 232%2c 0.3)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M609.6990195022113 969.6228421831595L753.4943848934912 1265.1615501990777 918.2853651452062 1029.8156402235118z' fill='rgba(33%2c 156%2c 232%2c 0.3)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M814.1347811830586 444.32235984169733L586.4045077899135 496.6694867153145 723.0835604262769 648.4669530882577z' fill='rgba(33%2c 156%2c 232%2c 0.3)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M555.6850575921612 540.549150786118L542.3098415636591 285.33482551837517 287.0955162959162 298.7100415468773 300.47073232441835 553.9243668146202z' fill='rgba(33%2c 156%2c 232%2c 0.3)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M407.42384449044914 883.0623681174116L499.6323499669137 702.0929865723729 318.6629684218749 609.8844810959083 226.4544629454104 790.853862640947z' fill='rgba(33%2c 156%2c 232%2c 0.3)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1827.567%2c429.568C1895.178%2c429.612%2c1948.216%2c377.682%2c1980.714%2c318.393C2011.789%2c261.7%2c2016.809%2c195.253%2c1987.623%2c137.565C1955.176%2c73.431%2c1899.394%2c18.309%2c1827.567%2c15.682C1751.846%2c12.913%2c1680.027%2c57.433%2c1645.864%2c125.067C1614.409%2c187.34%2c1639.015%2c258.283%2c1674.765%2c318.193C1709.381%2c376.203%2c1760.014%2c429.524%2c1827.567%2c429.568' fill='rgba(33%2c 156%2c 232%2c 0.3)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M809.876%2c659.344C871.901%2c656.769%2c930.033%2c627.448%2c961.049%2c573.674C992.043%2c519.938%2c986.222%2c456%2c959.434%2c400.048C927.604%2c333.566%2c883.576%2c259.069%2c809.876%2c257.926C735.139%2c256.767%2c687.078%2c329.244%2c652.062%2c395.281C619.819%2c456.088%2c599.972%2c528.118%2c635.281%2c587.198C669.905%2c645.133%2c742.441%2c662.143%2c809.876%2c659.344' fill='rgba(33%2c 156%2c 232%2c 0.3)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1817.6127330282834 209.71365101383557L1817.6127330282834-73.26840059434059 1534.630681420107-73.26840059434053 1534.6306814201073 209.7136510138356z' fill='rgba(33%2c 156%2c 232%2c 0.3)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1210.7241928376409 785.971381624822L1227.0164681589215 670.0458190950344 1044.9819867036 703.5701873780073z' fill='rgba(33%2c 156%2c 232%2c 0.3)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1891.146%2c1241.856C1948.805%2c1237.665%2c1983.004%2c1184.069%2c2011.642%2c1133.85C2039.9%2c1084.298%2c2066.287%2c1028.788%2c2042.117%2c977.119C2014.633%2c918.363%2c1955.936%2c873.127%2c1891.146%2c876.256C1829.994%2c879.21%2c1793.36%2c937.138%2c1763.485%2c990.577C1734.612%2c1042.225%2c1709.136%2c1101.139%2c1735.937%2c1153.892C1764.806%2c1210.716%2c1827.577%2c1246.477%2c1891.146%2c1241.856' fill='rgba(33%2c 156%2c 232%2c 0.3)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M124.013%2c723.084C190.868%2c726.48%2c260.369%2c703.599%2c294.909%2c646.257C330.384%2c587.363%2c320.288%2c513.659%2c286.085%2c454.018C251.689%2c394.041%2c193.064%2c344.756%2c124.013%2c348.262C59.124%2c351.557%2c17.565%2c411.216%2c-11.859%2c469.145C-37.96%2c520.531%2c-46.432%2c579.48%2c-19.241%2c630.298C9.526%2c684.063%2c63.115%2c719.99%2c124.013%2c723.084' fill='rgba(33%2c 156%2c 232%2c 0.3)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M193.157%2c736.235C231.226%2c739.854%2c270.21%2c719.75%2c287.476%2c685.629C303.555%2c653.852%2c288.241%2c617.294%2c268.258%2c587.814C251.074%2c562.463%2c223.783%2c546.52%2c193.157%2c546.483C162.464%2c546.446%2c132.464%2c560.701%2c117.742%2c587.633C103.525%2c613.64%2c112.096%2c643.8%2c125.509%2c670.23C140.79%2c700.341%2c159.542%2c733.039%2c193.157%2c736.235' fill='rgba(33%2c 156%2c 232%2c 0.3)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1501.3804605705304 156.085764355834L1305.9506167939794 132.08999680040696 1367.6718873491143 437.23264624294706z' fill='rgba(33%2c 156%2c 232%2c 0.3)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 50px;
  font-family: "Hind", Courier, monospace;
  margin: 0;
  position: relative;
}

h1 {
  font-size: 10rem;
  font-family: monospace;
  margin: 3rem auto;
}

main {
  width: 100%;
  justify-self: center;
  align-self: center;
  text-align: center;
  display: grid;
  grid-template-rows: repeat(auto, 3);
  grid-template-areas: "tagline" "countdown" "carousel";
}
main img {
  position: absolute;
  top: 0;
  left: 0;
  height: 150px;
  margin: 0.5rem;
}
main h1 {
  grid-area: countdown;
}

.main-carousel {
  justify-self: center;
  width: 60%;
  margin-top: 5rem;
}
.main-carousel .carousel-cell {
  width: 100%;
  height: 50px;
  margin-right: 10px;
}
.main-carousel .flickity-button {
  background: transparent;
}

footer {
  background-color: #219ce8;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer ul li {
  margin: 0 5rem;
}
footer ul a {
  display: flex;
  align-items: center;
}
footer ul img {
  height: 35px;
  display: inline-block;
  transition: transform 0.3s ease-in;
}
footer ul img:hover {
  transform: scale(1.2);
}

/*# sourceMappingURL=main.css.map */
